# CON files folder
packages/

# Duplicated MAGMA album arts
*_keep_x256.bmp
*_keep.png_xbox

# All WAV, MIX, and DIY Stems folders
wav/
mix/
diy-stems/

patins/

# Lipsync folder
lipsync/

# REAPER backup files and generated MIDI files
*.RPP-bak
*.mid