# CON files folder
packages/

# Duplicated MAGMA album arts
*_keep_x256.bmp
*_keep.png_xbox

# All WAV and DIY Stems folders
wav/
diy-stems/

# Work in progress songs
wip/

# REAPER backup files and generated MIDI files
7748*.mid
*.RPP-bak
*.wav
*.flac