# CON files folder
packages/

# Duplicated MAGMA album arts
*_keep_x256.bmp
*_keep.png_xbox

# All WAV, MIX, and DIY Stems folders
wav/
diy-stems/

# Work in progress songs
wip/

# Lipsync folder
lipsync/

7748*.mid
# REAPER backup files and generated MIDI files
*.RPP-bak
*.wav
*.flac